#main{
    width: 100%;
    
    border: 4px solid crimson;
    display: flex;
     flex-wrap: wrap;
    align-content: space-evenly; 
     justify-content: space-evenly;  
}

#main>div{
    width: 350px;
 
    border: 2px solid chartreuse;

}

.img{
    width: 100%;
    height: 80%;
}

h1,p{
    margin-left: 50px;
}
























