#Main{
    font-size: 30px;
    height: 500px;
    border: 5px solid;
    color: brown;
    display: flex;
}

#Main>div{
    width: 100%;
    height: 200px;
    border: 2px solid;
    color: chartreuse;
}





