#shiv{
    background-color: antiquewhite;
    border: 4px solid;
    text-align: center;
    width: 200px;
    margin-top: 250px;
}
form{
    display: grid;
    text-align: center;
     margin: auto;
}
#diya{
    width: 150px;
    margin: auto;
    text-align: center;
}
